/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #25A18E;
}

.jumbotron {
	background-color: #004E64;
	color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.ballot {
	color: white;
}

.card-1 {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.list-shadow {
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.navbar {
	background-color: #25A18E;
	border-color: #25A18E;
	color: white;
}

.navbar a {
	color: white;
}


.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-text {
	color: #fff;
}
p {
	margin: 8px 0 0 0;
}

.title-text {
	color: #fff;
}
.container p {
	text-align: center;
	padding: 0;
}

/** Icons **/

.delete {
	color: #FF4D3D;
}

/****** Click Styling ******/



.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
} 

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #FB4D3D;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 100px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:hover{
		background-color: #FB4D3D;
}
.btn:click{
	background-color: #5795F9;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}



/*remove below */

#chart rect {
  fill: steelblue;
}

#chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.bar {
  fill: steelblue;
}


.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}