<navigation></navigation>
<div class = "container"> 
<div class = "row"> 
<div class = "col-md-8 col-md-offset-2">
    <form>
      <div class="form-group">
        <label class = "title-text" for="exampleInputEmail1">Question</label>
        <input type="text" class="form-control" ng-model="create.proposedQuestion" placeholder="Your question">
      </div>
      <div class="form-group">
        <label class = "title-text" for="exampleInputEmail1">Add Options</label>
        <input type="text" class="form-control" ng-model="create.proposedOption" placeholder="An Option">
      </div>
    </form>  

      <a class = "btn btn-primary" ng-click = "create.addOption()">Add It!</a>
      <br>
      <br>
      <ul class = "list-group"> 
          <li ng-repeat = "option in create.options" class = "list-group-item"> 
              {{option}}
             <div class = "pull-right">
                <i class="fa fa-trash-o delete" ng-click = "create.removeOption(option)"></i>
             </div>
          </li>
      </ul>
      <div class = "pull-right"> 
          <a ng-click = "create.savePoll()" class = "btn btn-primary">Save My Poll</a>

      </div>

</div>
</div>
</div>