<navigation></navigation>
<div class = "container"> 
<div class = "row"> 
<div class = "col-md-3">
    <a class = "btn btn-default" href = "/#/create">New Poll</a>
    <h3 class = "title-text">My Profile</h3>
    <p class = "title-text">Email: {{mng.user.local.email}}</p>
    <p class = "title-text">Number of Polls: {{mng.polls.length}}</p>
</div>
<div class = "col-md-9"> 
    <h3 class = "title-text">My Polls</h3>
    <ul class = "list-group">
        <li ng-repeat = "poll in mng.polls" class = "list-group-item"> 
            <div class = "container">
                <div class = "row">
                 <a class = "col-xs-6 col-md-3 btn btn-default" href = "/#/edit/{{poll._id}}">Edit</a>
                 <p class = "col-xs-12 col-md-6"><strong>{{poll.question}} </strong>[ {{poll.votes.length}} Votes ]</p>
                <a class = "col-xs-6 col-md-3 btn btn-default" href = "/#/results/{{poll._id}}">Results</a>                               
                    
                    
                </div>
                
            </div>


        </li>

    </ul>
    
</div>

</div>
</div>