<div class = "container"> 
<div class = "row"> 
<div class = "col-md-3">
    <a class = "btn btn-default" href = "/#/create">New Poll</a>
    <h3 class = "title-text">My Profile</h3>
    <p class = "title-text">Email: {{mng.user.local.email}}</p>
</div>
<div class = "col-md-9"> 
    <h3 class = "title-text">My Polls</h3>
    <ul class = "list-group">
        <li ng-repeat = "poll in mng.polls" class = "list-group-item"> 
            {{poll.question}}
            <a class = "btn btn-default" href = "/#/edit/{{poll._id}}">Edit</a>
        </li>

    </ul>
    
</div>

</div>
</div>