      <nav class = "navbar navbar-default">
         <div class = "container"> 
            <div class = "navbar-header"> 
               <a class = "navbar-brand" href = "/#/home"><i class="fa fa-arrow-up"></i>ollster</a>
               
            <div class="dropdown navbar-brand pull-right">
               <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userLoginButton}}<span class="caret"></span> </a>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat= "navMenuOption in navMenuOptions"><a href="{{navMenuOption.linkOption}}">{{navMenuOption.linkOptionText}}</a></li>
              </ul>
               </div>
            </div>
         </div>
      
      </nav>