<div class = "container"> 
    <div ng-show ="user.newUser"> 
        <h3>Register</h3>
        <form>
          <div class="form-group">
            <label class = "title-text" for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" ng-model="user.proposedUsername" placeholder="Your username">
          </div>
          <div class="form-group">
            <label class = "title-text" for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" ng-model="user.proposedPassword" placeholder="An Option">
          </div>
        </form> 
        <p>{{user.responseMessage}}</p>
        <a class = "btn btn-lg btn-primary" ng-click = "user.register()">Register</a>
          <a class = "btn btn-lg btn-primary" ng-click = "user.login()">Login</a>
          <a class = "btn btn-lg btn-primary" ng-click = "user.logout()">Logout</a>

        </div>

    <div ng-hide="user.newUser">
        <h3>Login</h3>
            <form>
              <div class="form-group">
                <label class = "title-text" for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" ng-model="user.username" placeholder="Your username">
              </div>
              <div class="form-group">
                <label class = "title-text" for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" ng-model="user.password" placeholder="An Option">
              </div>
            </form>  

    </div>
</div>